nodered/flow.txt
[{"id":"263bad60.50e89a","type":"mqtt-broker","broker":"192.168.2.58","port":"1883","clientid":"twitter"},{"id":"4da63378.657c84","type":"function","name":"LED color","func":"var input = msg.payload;\nvar colours = input.toUpperCase().match(/\\b(red|blue|green|purple)\\b/ig);\nif (colours === null) { return }\nvar my_color = {payload:30};\nvar my_blank = {payload:0};\n\nif (colours == \"RED\")\n{\n    return [my_color, my_blank, my_blank];\n}\nif (colours == \"BLUE\")\n{\n    return [my_blank, my_blank, my_color];\n}\nif (colours == \"GREEN\")\n{\n    return [my_blank, my_color, my_blank];\n}\nreturn;","outputs":"3","noerr":0,"x":501,"y":406,"z":"918a7e7e.5e3098","wires":[["78c91ba0.b548dc"],["831bbb7c.fadcc8"],["372280ae.c73fe"]]},{"id":"78c91ba0.b548dc","type":"mqtt out","name":"","topic":"mq_snow_red","qos":"","retain":"","broker":"263bad60.50e89a","x":803,"y":317,"z":"918a7e7e.5e3098","wires":[]},{"id":"372280ae.c73fe","type":"mqtt out","name":"","topic":"mq_snow_blue","qos":"","retain":"","broker":"263bad60.50e89a","x":815,"y":449,"z":"918a7e7e.5e3098","wires":[]},{"id":"831bbb7c.fadcc8","type":"mqtt out","name":"","topic":"mq_snow_green","qos":"","retain":"","broker":"263bad60.50e89a","x":813,"y":383,"z":"918a7e7e.5e3098","wires":[]},{"id":"a6afe81a.069288","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":512,"y":474,"z":"918a7e7e.5e3098","wires":[]},{"id":"40328628.2d7e08","type":"twitter in","twitter":"","tags":"toomuchiot","user":"user","name":"","topic":"tweets","x":206,"y":407,"z":"918a7e7e.5e3098","wires":[["4da63378.657c84","a6afe81a.069288"]]}]