nodered/flow.txt
[{"id":"25ce7077.e87d2","type":"twilio-api","sid":"11111111111111111111","from":"6121111111","name":"txt msg"},{"id":"263bad60.50e89a","type":"mqtt-broker","broker":"192.168.2.58","port":"1883","clientid":"twitter"},{"id":"4da63378.657c84","type":"function","name":"parse tweet","func":"var input = msg.payload;\nvar tweet = input.toUpperCase().match(/\\b(red|blue|green|yellow|open|close)\\b/ig);\nif (tweet === null) { return }\nvar my_color = {payload:30};\nvar my_blank = {payload:0};\nvar door_open = {payload:1};\nvar door_close = {payload:1};\n\nif (tweet == \"RED\")\n{\n    return [my_color, my_blank, my_blank, null, null];\n}\nif (tweet == \"BLUE\")\n{\n    return [my_blank, my_blank, my_color, null, null];\n}\nif (tweet == \"GREEN\")\n{\n    return [my_blank, my_color, my_blank, null, null];\n}\nif (tweet == \"YELLOW\")\n{\n    return [my_color, my_color, my_blank, null, null];\n}\nif (tweet == \"OPEN\")\n{\n    return [null, null, null, door_open, null];\n}\nif (tweet == \"CLOSE\")\n{\n    return [null, null, null, null, door_close];\n}\nreturn;","outputs":"5","noerr":0,"x":501,"y":406,"z":"918a7e7e.5e3098","wires":[["78c91ba0.b548dc"],["831bbb7c.fadcc8"],["372280ae.c73fe"],["83cbddb8.28105"],["c6a61749.dc6fd"]]},{"id":"78c91ba0.b548dc","type":"mqtt out","name":"","topic":"mq_snow_red","qos":"","retain":"","broker":"263bad60.50e89a","x":803,"y":317,"z":"918a7e7e.5e3098","wires":[]},{"id":"372280ae.c73fe","type":"mqtt out","name":"","topic":"mq_snow_blue","qos":"","retain":"","broker":"263bad60.50e89a","x":815,"y":449,"z":"918a7e7e.5e3098","wires":[]},{"id":"831bbb7c.fadcc8","type":"mqtt out","name":"","topic":"mq_snow_green","qos":"","retain":"","broker":"263bad60.50e89a","x":813,"y":383,"z":"918a7e7e.5e3098","wires":[]},{"id":"a6afe81a.069288","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":512,"y":474,"z":"918a7e7e.5e3098","wires":[]},{"id":"40328628.2d7e08","type":"twitter in","twitter":"","tags":"toomuchiot","user":"user","name":"","topic":"tweets","x":206,"y":407,"z":"918a7e7e.5e3098","wires":[["4da63378.657c84","a6afe81a.069288"]]},{"id":"83cbddb8.28105","type":"mqtt out","name":"","topic":"req_door_open","qos":"","retain":"","broker":"263bad60.50e89a","x":822,"y":519,"z":"918a7e7e.5e3098","wires":[]},{"id":"c6a61749.dc6fd","type":"mqtt out","name":"","topic":"req_door_close","qos":"","retain":"","broker":"263bad60.50e89a","x":832,"y":583,"z":"918a7e7e.5e3098","wires":[]},{"id":"975529e6.061e9","type":"mqtt in","name":"Door Sensor","topic":"BE710C570B00","broker":"263bad60.50e89a","x":127,"y":592.9999389648438,"z":"918a7e7e.5e3098","wires":[["c41a3721.34a19"]]},{"id":"c41a3721.34a19","type":"function","name":"parse door sensor","func":"var input = msg.payload;\nvar tweet_open = {payload:\"Someone opened the door!\"};\nvar tweet_close = {payload:\"The door just closed!\"};\nif (input == \"1\")\n{\n    return [tweet_close];\n}\nif (input == \"0\")\n{\n    return [tweet_open];\n}\nreturn;","outputs":"1","noerr":0,"x":399,"y":593.9999389648438,"z":"918a7e7e.5e3098","wires":[["a9eebda4.4168f8"]]},{"id":"a9eebda4.4168f8","type":"twitter out","twitter":"","name":"Tweet","x":649,"y":593.9999389648438,"z":"918a7e7e.5e3098","wires":[]},{"id":"153369cb.6b1dee","type":"mqtt in","name":"Water Sensor","topic":"7AC51C570B00","broker":"263bad60.50e89a","x":126.13333129882812,"y":657.8332214355469,"z":"918a7e7e.5e3098","wires":[["18f32462.4be544"]]},{"id":"18f32462.4be544","type":"function","name":"parse water sensor","func":"var input = msg.payload;\nvar tweet_no_water = {payload:\"Whew, water level is OK\"};\nvar tweet_water = {payload:\"Oh no! Water in the basement!\"};\nif (input == \"1\")\n{\n    return [tweet_water];\n}\nif (input == \"0\")\n{\n    return [tweet_no_water];\n}\nreturn;","outputs":"1","noerr":0,"x":398.1333312988281,"y":658.8332214355469,"z":"918a7e7e.5e3098","wires":[["b35ea90d.b01b1"]]},{"id":"d9169bc6.322b78","type":"twitter out","twitter":"","name":"Tweet","x":648.1333312988281,"y":658.8332214355469,"z":"918a7e7e.5e3098","wires":[]},{"id":"5e7bcf20.f8d1d8","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"EMAIL@gmail.com","dname":"email Eric","x":657.2333374023438,"y":695.2332153320312,"z":"918a7e7e.5e3098","wires":[]},{"id":"b35ea90d.b01b1","type":"twilio out","twilio":"25ce7077.e87d2","twilioType":"sms","url":"","number":"16511111111","name":"text msg","x":659.2333374023438,"y":738.233154296875,"z":"918a7e7e.5e3098","wires":[]}]
